<div class="container">
    <div class="left">
      <img src="../assets/images/LogolargoCoderBoost.png" alt="CoderBooster Logo">
    </div>


 <div class="right">
<form class="form-container" id="login-form">
  <h2>Login</h2>

  <div class="input-group">
    <input type="email" id="email" placeholder="Email" required>
    <i class="fa-solid fa-envelope icon"></i>
  </div>

  <div class="input-group">
    <input type="password" id="password" placeholder="Password" required>
    <i class="fa-solid fa-lock icon"></i>
  </div>

  <button type="submit" id="login-btn">Login</button>
</form>


  </div>
